.article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:  750px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
    padding-bottom: 50px;
}

.ls {
    letter-spacing: 0.05em;
}

.lh-28 {
    line-height: 2;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.mtb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-12 {
    margin: 12px auto;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-79 {
    margin-bottom: 79px;
}

.article-img {
    width: 112%;
    padding-bottom: 16px;
}

.article-title {
    line-height: 1.5;
    font-weight: normal;
    font-size: 30px;
    margin: 16px auto;
}

.date-article {
    text-align: left;
    width: 100%;
}

.share-wrapper {
    background: url(/public/media/images/share-bg.png) round;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 34px auto;
    height: 100px;

    .share-title {
        font-family: $brand-font;
        color: $brand-color;
        margin-top: -10px;
    }

    .share-links {
        display: inline-flex;
        
        .share-link-wrapper {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: white;
            margin: 12px;
            display: grid;
            align-content: center;

            .share-link {
                padding-top: 6px;
            }
        }
    }
}

h2:not(.transparent) {
    background: url(/public/media/images/h2-bg.png) round;
    font-weight: normal;
    line-height: 1.5;
    width: 112%;
    margin-top: 53px;
    margin-bottom: 25px;
    display: grid;
    align-content: center;
    height: auto;
    padding: 24px 20px;
    background-size: cover;
}

strong {
    background: url(/public/media/images/highlight-text.png) repeat-x bottom;
    padding-bottom: 2px;
}

h3 {
    background: url(/public/media/images/h3-bg-sp.png) round;
    background-size: cover;
    height: auto;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    padding: 24px 20px;    
    margin-top: 36px;
    margin-bottom: 15px;
    width: 100%;
    display: grid;
    align-content: center;
}

h4 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    margin: 18px auto;
    display: inline-flex;
    width: 100%;

    .light-pink {
        font-family: $brand-font;
        color: #DBBEC0;
        padding-right: 10px;
        padding-top: 4px;
        font-weight: normal;
        font-size: 26px;
    }
}

h5 {
    font-size: 16px;
    line-height: 1.5;
    margin: 28px auto 13px auto;
    width: 100%;
}

h6 {
    line-height: 1.5;
    margin: 29px auto 9px auto;
    width: 100%;
}

.light-text {
    line-height: 1.75;
    color: #666;
    margin: 9px auto 18px auto;
}

.lt-bullet {
    display: inline-flex;

    span {
        padding-right: 6px;
    }
}

.lp-bullet {
    margin: 17px 20px;
    line-height: 1.75;

    .light-pink-bullet {
        list-style-image: url('/public/media/images/lp-bullet.png');
            
        li { 
            padding-left: 3px; 
        }
    } 
}

.number-list {
    margin: 17px 20px;
    line-height: 1.75;
}

.number-bullet {
    margin-top: 18px;
    line-height: 1.75;
    color: #666;
    margin-bottom: 6px;

    .list-asterisk {
        display: inline-flex;

        .nb-left {
            margin-right: 9px;
        }
    }
}

.text-tag-wrapper {
    margin: 12px auto;

    .text-with-tag {
        padding-bottom: 8px;
    }

    .article-tags {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 6px auto;

        .article-tag {
            line-height: 1.75;
            color: $dark-pink;
            padding: 2px 10px;
            border: 1px solid $dark-pink;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

.arrow-list-wrapper {
    margin: 5px auto;
    line-height: 1.75;

    .arrow-list {
        display: inline-flex;
        align-items: baseline;

        img {
            margin-right: 10px;
            object-fit: contain;
        }
    }
}

.catch-text {
    margin-top: 65px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.title-text {
    margin-top: 46px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.table {
    &.first {
        margin-top: 76px;

        td {
            text-align: center;
        }
    }

    &.third {
        margin-bottom: 80px;
        
        th {
            border-top: 1px solid #ddd;
        }

        td:not(.thead) {
            text-align: center;
        }

        thead tr {
            background: #F4EFF0;
        }
    }

    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid transparent;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 1.75;
    letter-spacing: 0.05em;
    margin-bottom: 42px;

    thead,
    .thead {
        background: #F5F5F5;
    }

    thead td,
    thead th,
    .thead {
        padding: 12px;
    }

    td {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }
}

.article-dummy {
    .dummy-img {
        height: 100%;
        width: 100%;
    }

    .dummy-post {
        margin: 23px auto;
    }

    .dummy-post-light {
        margin: 16px auto;
        color: #666;
        line-height: 1.75;
    }
}

.swiper-container.swiper-container-article {
    height: 270px;
    margin-bottom: 79px;

    .swiper-button-next.swiper-button-next-article,
    .swiper-button-prev.swiper-button-prev-article {
        top: 92%;
    }

    .swiper-button-next.swiper-button-next-article {
        right: 19%;
    }
}

.str-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 13px;
}

.product-wrapper {
    background: url(/public/media/images/product-bg.png) repeat;
    height: 86px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 80px;

    .product-img {
        margin-right: 15px;
        height: 62px;
        width: auto;
        
        img {
            width: 100%;
        }
    }

    .product-details {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        width: 100%;
        height: 52px;
        font-size: 14px;
        font-weight: bold;
        color: #666;
        line-height: 1.5;

        .product-specs {
            align-self: flex-start;
        }

        .product-price {
            align-self: flex-end;

            span {
                font-size: 12px;
                font-weight: normal;
            }
        } 
    }
}

.product-wrapper-lg {
    background: url(/public/media/images/product-bg-lg-sp.png);
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    row-gap: 15px;
    padding: 30px;
    margin-bottom: 80px;
    
    .product-img-lg {
        img {
            width: 100%;
        }
    }

    .product-details-lg {
        display: flex;
        flex-direction: column;
        row-gap: 11px;

        .product-name-lg {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
        }

        .product-desc-lg {
            font-size: 14px;
            line-height: 1.75;
        }

        .product-buy-link {
            width: 100%;
            text-align: center;
            background-color: #986B6E;
            padding: 10px;
            margin: 10px auto;
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0.05em;
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;

            span {
                margin-right: 30px;
            }

            img  {
                align-self: center;
            }
        }
    }
}

.author {
    background: url(/public/media/images/article/author_bg.png) round;
    padding: 0 40px;
    margin: 0 0 85px;

    @media (max-width: 480px) {
        padding: 25px 30px;
        margin: 0 0 60px;
    }

    h3 {
        background: none;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        margin: 0;
        padding: 0;
        line-height: 1.5;
        padding-bottom: 25px;
    }

    .author_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .author_desc {
        margin: 0 0 35px;

        p {
            line-height: 1.75;
        }

        a {
            text-decoration: underline;
            color: $primary-color;
        }

        h3 {
            padding: 16px 0 21px 0;
            line-height: 1.5;
        }
    }
}

.pagination {
    position: relative;
    width: 346px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px;

    @media (max-width: 480px) {
        margin: 0 0 55px;
        width: 100%;
    }

    .left {
        position: absolute;
        left: -35px;

        img {
            max-width: 100%;
            height: auto;
        }

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 480px) {
            width: 14px;
            left: 5px;
        }        
    }

    .right {
        transform: rotate(180deg);
        position: absolute;
        right: -35px;

        img {
            max-width: 100%;
            height: auto;
        }

        &:hover {
            cursor: pointer;
        }
        
        @media (max-width: 480px) {
            width: 14px;
            right: 5px;
            top: 5px;
        } 
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
            border: 1px solid #CCCCCC;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 15px 0 0;
            font-size: 14px;

            &:nth-last-child(1){
                margin: 0;
            }

            &:hover {
                cursor: pointer;
                background-color: #F5F5F5;
            }

            @media (max-width: 480px) {
                margin: 0 10px 0 0;
            }

            @media (max-width: 320px) {
                width: 30px;
                height: 30px;
            }
        }

        li.active {
            border: none;
            background: #D19999;
            color: #fff;
        }

        li.no_border {
            border: none;
            width: auto;
        }
    }
}

.related-article-wrapper {

    .related-article-title {
        background: url(/public/media/images/sepline-article-sp.png) no-repeat center;
        margin-bottom: 22px;
        width: 100%;
        text-align: center;

        span {
            font-size: 22px;
            line-height: 1.5;
            letter-spacing: 0.05em;
            background-color: white;
            padding: 5px 20px;
        }
    }

    .related-articles {
        margin-bottom: 23px;
        line-height: 1.75;
    }

    .related-article {
        padding: 12px 0;
        color: $primary-color;

        .article-img {
            height: 224px;
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: unset;

            img {
                width: 100%;
                height: 100%;
                vertical-align: bottom;
            }
        }

        .article-tag {
            font-size: 12px;
            color: $dark-pink;
            padding: 2px 10px;
            border: 1px solid $dark-pink;
            display: inline-block;
            margin: 10px auto;
        }

        .article-desc {
            line-height: 1.75;
        }

        .article-date {
            font-size: 12px;
            line-height: 1.75;
            color: #777;
            letter-spacing: 0.05em;
        }
    }

    .sepline-article {
        width: 100%;
        img {
            width: 100%;
        }

        .line-pc {
            display: none;
        }
    }
}

.see-articles-wrapper {
    margin: 60px auto;
    width: 100%;

    .see-articles {
        padding: 15px;
        border: 1px solid #CCCCCC;
        
        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: $primary-color;
        }

        span {
            margin-right: 30px;
            width: 246px;
            text-align: center;
        }

        img {
            align-self: center;
        }
    }
}

.about-banner {
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}