.article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:  750px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
}

.ls {
    letter-spacing: 0.05em;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.article-img {
    width: 114%;
    padding-bottom: 16px;
}

.article-title {
    line-height: 45px;
    font-weight: normal;
    font-size: 30px;
    margin: 16px auto;
}

.date-article {
    text-align: left;
    width: 100%;
}

.share-wrapper {
    background: url(/public/media/images/share-bg-sp.png) round;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 34px auto;

    .share-title {
        font-family: $brand-font;
        color: $brand-color;
        margin-top: -10px;
    }

    .share-links {
        display: inline-flex;
        
        .share-link-wrapper {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: white;
            margin: 12px;
            display: grid;
            align-content: center;
            // justify-content: center;

            .share-link {
                padding-top: 6px;
            }
        }
    }
}

h2 {
    background: url(/public/media/images/h2-bg.png) round;
    height: 144px;
    font-weight: normal;
    line-height: 36px;
    padding: 24px 20px;
    width: 114%;
}
