.banners {
    margin: 20px auto 100px auto;
    text-align: center;
}

.banner-title {
    margin: 10px auto 30px auto;
    font-size: 22px;
    letter-spacing: 0.05em;
}

.banner-images img {
    padding: 15px 50px;
    width: 100%;
}