.swiper-container {
    width: 100%;
    height: 400px;
    text-align: center;
}

.swiper-button-next {
    // top: 95%;
    // right: 38%;
    top: 95%;
    right: 18%;
    z-index: 11;

    img {
        width: 14px;
    }

    &::after {
        color: transparent;
    }
}

.swiper-button-prev  {
    // top: 95%;
    // left: 40%;
    top: 95%;
    left: 25%;
    z-index: 11;

    img {
        width: 14px;
    }

    &::after {
        color: transparent;
    }
}