@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face {
    font-family: 'hiragino';
    src: url(../font/hiragino-kaku-gothic-pro-w3.otf);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


$primary-color: #444444;
$brand-color: #B94049;
$brand-font: 'Courgette', Arial, Helvetica, sans-serif;
$hiragino-font: 'hiragino', Arial, Helvetica, sans-serif;
$opacity-half: 0.5;

$colors: (
    post: #8B7FA3,
    event: #B99172,
    kitchen : #73A8AC,
    care : #C08282,
    storage : #B8A84D,
    movie : #7FAA70
);

@function get-color($category) {
    @return map-get($colors, $category);
}


@mixin transition {
    transition: all 0.5s ease;
}

@mixin transition-2 {
    transition: all 0.3s ease;
}

@mixin mobile-s {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin mobile-l {
    @media (min-width: 425px) {
        @content;
    }
}

@mixin mobile-xl {
    @media (min-width: 480px) { 
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) { 
        @content;
    }
}

@mixin tablet-m {
    @media (min-width: 959px) { 
        @content;
    }
}

@mixin pc {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin pc-l {
    @media (min-width: 1025px) {
        @content;
    }
}