.footer {
    background-image: url(../media/images/footer-bg-sp.png);
    background-repeat: round;
}

.footer-nav-links {
    padding: 52px 20px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;
}

.footer-nav-item {
    background-repeat: no-repeat;
    height: 62px;
    width: 160px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.footer-nav-link {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 18px 0;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-family: fot-tsukuardgothic-std, sans-serif;
}

.post-ftr-bg {
    background: url(../media/images/top/post-bg.png);
}

.event-ftr-bg {
    background: url(../media/images/top/event-bg.png);
}

.cooking-ftr-bg {
    background: url(../media/images/top/cooking-bg.png);
}

.care-ftr-bg {
    background: url(../media/images/top/care-bg.png);
}

.storage-ftr-bg {
    background: url(../media/images/top/storage-bg.png);
}

.video-ftr-bg {
    background: url(../media/images/top/video-bg.png);
}

.footer-links {
    display: flex;
    flex-direction: column;

}

.ftr-kitchentrip-logo {
    margin: 30px;
    text-align: center;
    font-family: $brand-font;
}


.ftr-brand-name {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    .ftr-brand-logo {
        height: 65px;
        width: 65px;
        margin-right: 20px;
    }
    
    .ftr-brand-name {
        font-size: 34px;
        color: $brand-color;
    }
}

.ftr-cleanup-logo {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    span {
        font-size: 12px;
    }

    img {
        width: 142px;
        height: 56px;
        margin: 16px auto;
    }
}

.ftr-terms-privacy {
    margin: 60px auto 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    
    a {
        text-decoration: none;
        color: #666;
        font-size: 14px;
    }

    div {
        text-align: center;
    }

    .terms-wrapper {
        border-right: 1px solid #ccc;
    }
}

.ftr-social-links {
    display: flex;
    justify-content: center;
    height: 200px;
    background-image: url(../media/images/footer-bg-bottom.png);
    background-repeat: no-repeat;
    background-size: 322% 66%;
    background-position: 3.3% 100%;
    
    .ftr-social {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: white;
        margin: 15px;
        display: grid;
        align-content: center;
        justify-content: center;

        &-link {
            padding-top: 6px;
        }
    }
}

.ftr-copyright {
    background-color: #aaa;
    height: 40px;
    padding-top: 14px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    
    p {
        font-size: 10px;
    }
}