
@for $i from 1 through 6 {
    .menu-nav-item:nth-child(#{$i}):hover {
        opacity: $opacity-half;
    }
}

@for $i from 1 through 6 {
    .footer-nav-item:nth-child(#{$i}):hover {
        filter: opacity(0.4);
    }
}

@for $i from 1 through 6 {
    .content:nth-child(#{$i}):hover {
        opacity: $opacity-half;
    }
}

.banner-images img:hover {
    opacity: $opacity-half;
    cursor: pointer;
}

.sp-search-bar-wrapper:hover,
.sp-search-bar:focus,
.sp-search-bar-field:focus {
    outline-color: #666;
}

.pc-search-bar-wrapper a:hover,
.pc-search-bar:hover {
    opacity: $opacity-half;
}


.ftr-t-p:hover {
    opacity: $opacity-half;
}

#backToTop:hover {
    opacity: $opacity-half;
}

.swiper-slide img:hover,
.swiper-pagination-bullets:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: $opacity-half;
    cursor: pointer;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: 1px solid transparent;
}

.menu-nav-link.active {
    background-repeat: no-repeat;
    background-position: bottom;

    .menu-title {
        padding: 0 5px 5px 5px;
    }
}

.menu-nav-post.active {
    background-image: url(../media/images/top/active-post.png);
}

.menu-nav-event.active {
    background-image: url(../media/images/top/active-event.png);
}

.menu-nav-cooking.active {
    background-image: url(../media/images/top/active-cooking.png);
}

.menu-nav-usage.active {
    background-image: url(../media/images/top/active-care.png);
}

.menu-nav-storage.active {
    background-image: url(../media/images/top/active-storage.png);
}

.menu-nav-video.active {
    background-image: url(../media/images/top/active-video.png);
}

.about-banner a:hover {
    opacity: $opacity-half;
}