
@for $i from 1 through 6 {
    .menu-nav-item:nth-child(#{$i}):hover {
        opacity: $opacity-half;
    }
}

@for $i from 1 through 6 {
    .footer-nav-item:nth-child(#{$i}):hover {
        filter: opacity(0.4);
    }
}

@for $i from 1 through 6 {
    .content:nth-child(#{$i}):hover {
        opacity: $opacity-half;
    }
}

.banner-images img:hover {
    opacity: $opacity-half;
}

.sp-search-bar-wrapper:hover,
.sp-search-bar:focus,
.sp-search-bar-field:focus {
    opacity: $opacity-half;
}

.ftr-t-p:hover {
    opacity: $opacity-half;
}

#backToTop:hover {
    opacity: $opacity-half;
}

.swiper-slide img:hover,
.swiper-pagination-bullets:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: $opacity-half;
    cursor: pointer;
}

