//header menu
 .menu {
     @include pc {
         display: none;
     }
 }

header {
    @include pc {
        display: flex;
        justify-content: space-between;
    }

    .brand-menu-wrapper {
        @include pc {
            margin: 20px;
        }
        
        .brand-desc {
            @include pc {
                display: inline-block;
                color: $primary-color;
                height: 42px;
                font-size: 12px;
                letter-spacing: 0.05em;
                margin-left: 18px;
                padding: 6px;
            }
        }

        .brand-logo {
            @include pc {
                width: auto;
            }
        }
    }

    .pc-search-bar-wrapper {
        @include pc {
            display: inline-flex;
            align-items: baseline;
            padding: 20px 28px 20px 20px;
            font-size: 14px;
            color: $primary-color;
        }

        .kitchentrip-about {
            @include pc {
                display: inline-block;
                margin-right: 25px;
            }
        }

        @include pc {
            .pc-search-bar-field {
                background: #F5F5F5;
                padding: 16px;
                width: 100%;
                border: 1px solid transparent;
                color: $primary-color;
            }

            .pc-search-icon {
                position: absolute;
                right: 22px;
                padding: 18px;
            }
        }
    }
}

.nav {
    @include pc {
        display: block;
        position: initial;
        margin-top: 130px;
    }

    .sp-search-bar-wrapper {
        @include pc {
            display: none;
        }
    }

    .menu-links {
        @include pc {
            display: none;
        }
    }

    .menu-nav {
        @include pc {
            justify-content: space-evenly;
            align-items: baseline;
            max-width: 1120px;
            margin: auto;

            & li {
                width: auto;
                height: 100px;
            }
        }
    }
}


// carousel
.carousel {
    @include pc {
        margin-top: 50px;
    }
}

.swiper-container {
    @include mobile-s {
        height: 420px;
    }

    @include mobile-l {
        height: 540px;
    }

    @include mobile-xl {
        height: 465px;
    }

    @include tablet {
        height: 468px;
    }

    @include pc {
        height: 410px;
    }

    @include pc-l {
        height: 100%;
    }
}

.swiper-slide img {
    @include mobile-xl {
        width: unset;
    }

    @include pc {
        width: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    @include mobile-xl {
        top: 95.6%;
    }
    
    @include tablet {
        top: 96%;
    }
}

.swiper-button-next {
    @include tablet {
        right: 30%;
    }
}

.swiper-button-prev {
    @include tablet {
        left: 34%;
    }
}

.swiper-button-next img,
.swiper-button-prev img {
    @include mobile-xl {
        width: 100%;
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    @include tablet {
        width: 28%;
        left: 36.5%;
    }
}


//menu
.menu-nav-item {
    @include tablet {
        width: 200px;
        height: 200px ;
    }
}


//contents
.contents {
    @include pc {
        margin-top: 40px;
    }
}

.contents-wrapper {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }
    
    @include pc {
        justify-content: space-between;
        max-width: 1120px;
        margin: auto;
    }
}

.content {
    @include mobile-xl {
        padding: 40px;
        margin: auto;
    }

    @include tablet {
        width: 380px;
        margin: initial;
    }

    @include tablet-m {
        padding: 40px 0;
        margin: auto;
    }

    @include pc {
        width: 520px;
        padding: 40px;

        .content-title {
            font-size: 24px;
        }

        .content-desc {
            font-size: 16px;
        }

        .content-icon {
            margin-bottom: 6px;
        }

        .content-image {
            margin-top: 20px;
        }
    }

    @include pc-xl {
        padding: 40px 0;
    }
}

.see-details-wrapper {
    @include tablet {
        width: auto;
        display: inline-grid;
    }
}

//divider
.divider-img-sp {
    @include mobile-s {
        width: 92%;
    }

    @include mobile-xl {
        display: none;
    }

    @include pc {
    }
}

.divider-img-pc {
    @include mobile-xl {
        display: block;
        margin: 30px 13px;
        width: 92%;
    }
}




//footer 
.banner-images {
    @include mobile-xl {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }

    @include tablet {
        justify-content: center;
    }

    @include pc {
        justify-content: center;
        column-gap: 50px;
    }
    
    & img {
        @include mobile-xl {
            padding: 15px 0;
            width: 80%;
        }

        @include pc {
            width: 100%;
        }
    }
}

.banner-title {
    @include pc {
        font-size: 24px;
    }
}

.footer-nav {
    @include mobile-s {
        grid-template-columns: auto;
    }

    @include tablet {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 25px;
    }

    .footer-nav-item {
        @include pc {
            height: 108px;
            width: 280px;

        }
        .footer-nav-link {
            @include pc {
                font-size: 24px;
            }
        }
    }
}

.post-ftr-bg {
    @include pc {
        background: url(../media/images/top/post-bg-pc.png);
    }
}

.event-ftr-bg {
    @include pc {
        background: url(../media/images/top/event-bg-pc.png);
    }
}

.cooking-ftr-bg {
    @include pc {
        background: url(../media/images/top/cooking-bg-pc.png);
    }
}

.care-ftr-bg {
    @include pc {
        background: url(../media/images/top/care-bg-pc.png);
    }
}

.storage-ftr-bg {
    @include pc {
        background: url(../media/images/top/storage-bg-pc.png);
    }
}

.video-ftr-bg {
    @include pc {
        background: url(../media/images/top/video-bg-pc.png);
    }
}



.ftr-cleanup-logo img {
    @include pc {
        width: 164px;
        height: auto;
    }
}

.ftr-terms-privacy {
    @include tablet {
        width: 50%;
    }

    @include pc {
        width: 20%;
    }

    .terms-wrapper {
        @include pc {
            margin-right: 15px;
        }
    }
}

.ftr-social-links {
    @include mobile-xl {
        background-size: 260% 66%;
    }

    @include tablet {
        height: 250px;
        background-position: bottom left;
        background-size: unset;
    }

    @include pc {
        height: 200px;
        background-size: contain;
        background-repeat: repeat-x;
    }
}

//category 
.key-visual {
    .kv-icon {
        @include tablet {
            width: unset;
            padding-top: unset;
        }
    }

    .kv-title {
        @include pc {
            font-size: 36px;
        }
    }

    .kv-desc {
        @include pc {
            font-size: 16px;
        }
    }
}

.articles-wrapper {
    .list-title {
        @include pc {
            font-size: 24px;
        }
    }

    .articles-list {
        @include mobile-l {
            margin: auto 40px;
        }

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            column-gap: 30px;

            .article {
                flex-basis: 250px;
            }
        }

        @include pc-xl {
            max-width: 1120px;
            margin: auto;
            justify-content: space-between;
        }
    }
}

//article
.article-wrapper {
    @include tablet {
        padding: 0 50px 50px;
    }

    @include tablet-m {
        padding: 0;
    }
}

.article-img {
    @include mobile-s {
        width: 114%;
    }

    @include mobile-l {
        width: 100%;
    }
}

h1 {
    @include pc {
        font-size: 34px;
    }
}

h1 + div {
    @include pc {
        font-size: 14px;
    }
}

.articles-list-wrapper {
    & > p:not(.small):not(.catch-text):not(.title-text) {
        @include pc {
            font-size: 16px;
            margin-top: 27px;
            margin-bottom: 10px;

            & + p:not(.small):not(.catch-text):not(.title-text) {
                margin-top: 16px;
            }
        }
    }
    
    h2:not(.transparent) {
        @include mobile-s {
            width: 114%;
        }
    
        @include mobile-l {
            width: 100%;
        }
    
        @include pc {
            font-size: 26px;
            margin-top: 62px;
        }
    }

    h3:not(.author-h3)  {
        @include tablet {
            background-image: url(/public/media/images/h3-bg.png);
            background-repeat: round;
        }
    }
     
    h3 {
        @include pc {
            font-size: 24px;
            margin-top: 42px;
            margin-bottom: 5px;
        }
    }

    h4 {
        @include pc {
            font-size: 20px;
            margin-top: 27px;
        }
    }

    h5 {
        @include pc {
            font-size: 18px;
            margin-top: 17px;
            margin-bottom: -11px;
        }
    }

    h6 {
        @include pc {
            font-size: 16px;
            margin-top: 18px;
            margin-bottom: -16px;
        }
    }

    p.small {
        @include pc {
            font-size: 14px;
        }
    }

    .asterisk-list-style {
        @include pc {
            font-size: 14px;
        }
    }
    
    & > ul {
        @include pc {
            font-size: 16px;
            margin-top: 15px;
        }

        & > li {
            @include pc {
                padding-bottom: 10px;
            }
        }
    }

    & > ol {
        @include pc {
            font-size: 16px;
            margin-top: 15px;
        }

        & > li {
            @include pc {
                padding-bottom: 10px;
            }
        }
    }

    .asterisk-with-number-list-style {
        @include pc {
            margin-top: 18px;
            font-size: 14px;
        }

        & > ol > div > li {
            @include pc {
                margin-bottom: 8px;
            }
        }
    }
    
    & > .article-tags {
        @include pc {
            margin-top: 8px;
        }

        & + p {
            @include pc {
                margin-top: 22px;
            }
        }
    }

    & > .arrow-list-style {
        @include pc {
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 3px;

            & ul > li {
                padding-bottom: 10px;
            }
        }
    }

    p.catch-text {
        @include pc {
            font-size: 20px;
        }
    }
    
    p.title-text {
        @include pc {
            font-size: 18px;
            margin-top: 43px;
            margin-bottom: 55px;
        }
    }

    table {
        @include pc {
            margin: 20px auto;
            font-size: 16px;
            line-height: 1.75;

            thead td,
            thead th,
            td {
                padding: 14px;
            }

            &.third {
                margin-bottom: 20px;
            }
        }
    }

    & > img {
        @include pc {
            margin-top: 20px;
        }
    }

    .swiper-container.swiper-container-article {
        @include pc {
            margin-top: 22px;
            margin-bottom: 96px;
        }
    
        @include mobile-l {
            height: 310px;
        }
    
        @include tablet {
            height: 550px;
        }
    
        .swiper-button-next.swiper-button-next-article{
            @include tablet {
                right: 29%;
            }
        }
    
        .swiper-button-prev.swiper-button-prev-article {
            @include tablet {
                left: 30%;
            }
        }
    
        .swiper-button-next.swiper-button-next-article,
        .swiper-button-prev.swiper-button-prev-article {
            @include tablet {
                top: 96.4%;
            }
        }
    }

    .article-two-col-wrapper-1,
    .article-two-col-wrapper-2 {
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 40px;
        }
        
        .article-col .dummy-img {
            @include tablet {
                height: 100%;
            }
        }
    }

    .article-two-col-wrapper-1 {
        @include tablet {
            margin-bottom: 30px;
        }

        @include pc {
            margin-bottom: 60px;
        }
    }

    .article-col-left,
    .article-col-right {
        .article-col {
            @include pc {
                & > img + p {
                    font-size: 14px;
                }
            }
        }
    }

    .article-col-right > p:first-of-type,
    .article-col-left > p:first-of-type {
        @include pc {
            font-size: 18px;
        }
    }

    .article-col-right > p:not(:first-of-type),
    .article-col-left > p:not(:first-of-type) {
        @include pc {
            font-size: 16px;
        }
    }


}

.share-wrapper {
    @include tablet {
        background: url(/public/media/images/share-bg.png) round;
    }

    @include pc {
        margin-bottom: 14px;
    }
}



.product-wrapper {
    @include tablet {
        height: 100%;
        padding: 15px;
    }

    .product-img {
        @include mobile-xl {
            display: grid;
            grid-template-columns: auto;
            height: unset;
            width: unset;
        }

        @include tablet {
            margin-right: 21px;
            height: 100px;
            width: 150px;
        }

        img {
            @include tablet {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .product-details {
        @include tablet {
            row-gap: 34px;
            font-size: 18px;
            justify-content: center;
        }

        @include pc {
            .product-price span {
                font-size: 14px;
            }
        }
    }
}

.product-wrapper-lg {
    @include tablet {
        background: url(/public/media/images/product-bg-lg.png) no-repeat;
        flex-direction: row;
        height: unset;
        align-items: flex-start;
    }

    .product-img-lg {
        @include tablet {
            margin-right: 40px;
        }

        img {
            @include tablet {
                width: 240px;
                height: 160px;
                object-fit: cover;
            }
        }
    }

    .product-details-lg {
        .product-name-lg {
            @include pc {
                font-size: 18px;
            }
        }

        .product-desc-lg {
            @include tablet {
                padding-bottom: 12px;
            }

            @include pc {
                font-size: 16px;
            }
        }

        .product-buy-link {
            @include tablet {
                margin: auto auto auto 0;
                width: unset;
                padding-left: 30px;
            }
            
            span {
                @include mobile-l {
                    width: 75%;
                }
    
                @include tablet {
                    width: 100%;
                }
            }
        }

    }
} 





.related-article-wrapper {


    .related-article-title {
        @include mobile-s {
            background-size: contain;
        }

        @include mobile-l {
            background-size: contain;
        }

        @include mobile-xl {
            background: url(/public/media/images/sepline-article.png) no-repeat center;
            background-size: 100%;
        }
    }

    .related-articles {
        @include tablet {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 60px;
            margin: auto 40px;
            padding-top: 20px;
            padding-bottom: 54px;
        }
        
        @include pc {
            margin: auto 95px;
        }
    }

    .related-article {
        .article-img {
            @include mobile-s {
                height: auto;
            }

            @include tablet {
                height: 167px;
            }
        }
    }

    .sepline-article {
        @include mobile-xl {
            .line-pc {
                display: block;
            }
            
            .line-sp {
                display: none;
            }
        }

        @include tablet {
            padding-bottom: 20px;
        }
    }
}

.see-articles-wrapper {
    @include tablet {
        width: unset;
    }
}

.about-banner {
    @include tablet {
        width: 540px;
    }
}

.author {
    @include tablet {
        padding-top: 30px;
    }
}

//about
.key-visual-about {
    @include tablet {
        background: url(/public/media/images/about/about_titleBg_pc.png);

        .kv-about-wrapper-pc {
            display: block;
        }

        .kv-about-wrapper-sp {
            display: none;
        }
    }
}

.about-details-wrapper {
    @include tablet {
        margin: auto 60px;
        padding-left: unset;
        padding-right: unset;
        padding-top: 90px;

        .break-line {
            display: block;
        }
    }

    @include tablet-m {
        max-width: 710px;
        margin: auto;
    }
    
    .about-details {
        @include tablet {
            text-align: center;
            font-size: 20px;
        }
    }
}

.about-btn-wrapper {
    @include tablet {
        margin-bottom: 120px;
    }

    .about-btn {
        @include tablet {
            width: 180px;
            margin: auto;
        }
    }
} 

.about-terms-wrapper {
    @include tablet {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
    }

    @include tablet-m {
        max-width: 750px;
        margin: auto;
        margin-top: 30px;
    }

    .terms-details {
        @include tablet {
            margin-bottom: 120px;
        }
    }
}

.movie-lists-wrapper {
    @include mobile-l {
        margin: auto 40px;
    }

    .tag-lists-wrapper {
        @include tablet {
            max-width: 540px;
            margin: 60px auto auto auto;
        }
    }

    .tag-list-title {
        @include tablet {
            margin: 74px auto;
        }
    }

    .articles-list.tag-articles-list {

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
            column-gap: 30px;

            a {
                flex-basis: 250px;
            }

            .article {
                .article-date {
                    margin-bottom: 60px;
                }
            }
        }

        @include pc-xl {
            max-width: 1120px;
            margin: auto;
            justify-content: space-between;
        }
    }
    
    .anchor-link-wrapper {
        @include tablet {
            padding-bottom: 80px;
        }
    }
}